{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    {{ form.media.css }}

    <style>
        input, select {
            width: 100%
        }
    </style>

    <div class="container" style="padding-top: 30px">
        <div class="row">
            <div class="col">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                {{ message|safe }}
                                <a href="#" class="close">✖</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="POST" style="color: #faf0f0">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-outline-info" type="submit">Отправить
                    </button>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    {{ form.media.js }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}